@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: aliceblue;
}

a:link,
a:visited {
    color: white;
    text-decoration: none;
    /* cursor: auto; */
}

body {
    background-color: #020f20;
}

header {
    background-color: #05152c;
    min-height: 90vh;
}

ul {
    list-style-type: none;
}

.navbar-nav {
    font-weight: 700;
}

.navbar-nav li {
    padding: 0px 30px;
}

/* .navbar > li.active{
    border-bottom: white 4px solid;
    width: 5px !important;
} */

.navbar-nav li a {
    cursor: pointer;
}

.btn-1 {
    background-color: #2662b1;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 40px;
    cursor: pointer;
}

.btn-2 {
    background-color: white;
    color: #2662b1;
    border: none;
    border-radius: 4px;
    padding: 10px 40px;
    cursor: pointer;
}

.image-fluid {
    width: 100%;
}

.image2 {
    width: 100%;
}

.waiting-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.form-case {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-control {
    width: 40%;
    border: 1px solid white;
    background-color: transparent;
}

.fa-youtube {
    font-size: 28px !important;
}

.modal-content {
    background-color: #05152c;
}

.card {
    background-color: #05152c;
}

aside {
    background-color: #FFFFFF22;
    border-radius: 10px;
    padding: 1rem;
}

.subscription-form .form-field{
    flex-grow: 1;
}

.subscription-form .form-field label{
    display: block;
    font-weight: bold;
    font-size: 0.875rem;
}

.subscription-form .form-field input{
    display: block;
    color: black;
    padding: 0.5rem;
    width: 100%;
    border-radius: 0.5rem;
    border: 0;
}

.toast-container, .toast {
    z-index: 99999;
}

.toast * {
    color: black;
}

.grid-item-1-image {
    order: -1;
}

@media (max-width: 991.9px) {
    body {
        text-align: center;
    }

    header {
        height: auto;
    }

    .btn-move,
    .store-icons {
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
    }

    .col {
        flex: none;
    }

    .image2 {
        display: none;
    }
}

@media (min-width: 992px) {
    .grid-item-1-image {
        order: 1;
    }
}
